{# #}
set system time-zone Asia/Shanghai

{# #}
# set system offload ipsec enable
# set system offload ipv4 forwarding enable
# set system offload ipv4 gre enable
# set system offload ipv4 pppoe enable
# set system offload ipv4 vlan enable
