{# #}
set service dhcp-server hostfile-update disable
{% set prefix = "service dhcp-server shared-network-name" %}

{# #}
{% for name, item in LAN.items() %}
{% set address = item.address.split('/') %}
set {{ prefix }} {{ name }} authoritative disable
set {{ prefix }} {{ name }} subnet {{ item.subnet }} default-router {{ item.dhcp.router | default(address[0]) }}
{% if item.dhcp.dns is defined and item.dhcp.dns is iterable %}
{% for dns in item.dhcp.dns %}
set {{ prefix }} {{ name }} subnet {{ item.subnet }} dns-server {{ dns }}
{% endfor %}
{% else %}
set {{ prefix }} {{ name }} subnet {{ item.subnet }} dns-server {{ item.dhcp.dns | default(address[0]) }}
{% endif %}
set {{ prefix }} {{ name }} subnet {{ item.subnet }} lease {{ item.dhcp.lease | default(86400) }}
set {{ prefix }} {{ name }} subnet {{ item.subnet }} start {{ item.dhcp.start }} stop {{ item.dhcp.stop }}
{% endfor %}

{# #}
{% for item in STATIC_MAPPING %}
{% set name = item.lan %}
{% set subnet = LAN[item.lan].subnet %}
set {{ prefix }} {{ name }} subnet {{ subnet }} static-mapping {{ item.name }} mac-address {{ item.mac }}
set {{ prefix }} {{ name }} subnet {{ subnet }} static-mapping {{ item.name }} ip-address {{ item.ip }}

{% if item.features.ShanghaiTelecomIPTV | default(false) %}
set service dhcp-server global-parameters 'option option-125 code 125 = string;'
set {{ prefix }} {{ name }} subnet {{ subnet }} static-mapping {{ item.name }} static-mapping-parameters 'option dhcp-parameter-request-list = concat(option dhcp-parameter-request-list, 7d);'
set {{ prefix }} {{ name }} subnet {{ subnet }} static-mapping {{ item.name }} static-mapping-parameters 'option option-125 00:00:00:00:1a:02:06:48:47:57:2d:43:54:03:04:5a:58:48:4e:0a:02:20:00:0b:02:00:55:0d:02:00:2e;'
{% endif %}

{% if item.stick_dns is defined and WAN[item.stick_dns].dns is defined %}
set {{ prefix }} {{ name }} subnet {{ subnet }} static-mapping {{ item.name }} static-mapping-parameters 'option domain-name-servers {{ WAN[item.stick_dns].dns | join(", ") }};'
{% endif %}
{% endfor %}
